<form id="login" action="/" method="post">
  Username: <input type="text" placeholder="Enter your username">
  Password: <input type="text" placeholder="Enter your password">
  <input type="submit" />
</form>