<div class="container" id="new-post">
  <form action="/posts" method="post">
    <h3>New post</h3>
    <textarea id="new-post-title" name="title" placeholder="Title"></textarea>
    <textarea id="new-post-content" name="content" placeholder="Content"></textarea>
    <textarea id="new-post-image" name="image_url" placeholder="Image url (optional)"></textarea>
    <input type="submit" id="new-post-btn" class="btn btn-info">
  </form>
</div>
<script src=""></script>