<% if @validate == true %>
  <p>Your account has been successfully created.</p>
<% else %>
  <h3>Sign up</h3>
  <form class="login-form" action="/signup" method="post">
    <input type="text" name="email" placeholder="Email"/>
    <input type="password" name="password" placeholder="Password"/>
    <input type="password" name="reenter_password" placeholder="Re-enter your password"/>
    <input type="text" name="firstname" placeholder="First name"/>
    <input type="text" name="lastname" placeholder="Last name"/>
    <input type="text" name="birthday" placeholder="Birthday MM-DD-YYYY"/>
    <input class="btn btn-primary user-info-btn" type="submit" value="Sign up">
  </form>
<% end %>