@import "partials/variables";
@import "partials/animations";
@import "partials/flash";
@import "partials/header";
@import "partials/signup";
@import "partials/login";
@import "partials/landing";
@import "partials/new_post";
@import "partials/footer";

#wrapper {
  min-height: 74vh;
  margin: 0;
  padding: 0;
}

.login-form {
  display: flex;
  flex-direction: column;

  & > * {
    padding: 10px;
  }

  span {
    input {
      width: 100%;
    }
  }

  .user-info-btn {
    width: 40%;
    margin: 15px auto;
  }
}