@import "partials/variables";
@import "partials/animations";
@import "partials/flash";
@import "partials/header";
@import "partials/signup";
@import "partials/login";
@import "partials/account";
@import "partials/landing";
@import "partials/posts";
@import "partials/new_post";
@import "partials/footer";

#wrapper {
  min-height: 74vh;
  margin: 0;
  padding: 0;
}

#front-page {
  margin-top: 1%;
}

.login-form {
  display: flex;
  flex-direction: column;

  & > * {
    padding: 10px;
  }

  span {
    input {
      width: 100%;
    }
  }

  .user-info-btn {
    width: 40%;
    margin: 15px auto;
  }
}

#pagenotfound {
  color: $primary-color;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(211,211,211,0.8);
  padding: 30px;
  border-radius: 30px;
}