#main-header {
  color: white;
  background: $primary-color;
  padding: 2% 0;
  justify-content: space-between;
  z-index: 1050;
  position: sticky;
  top: 0;

  #logo {
    color: white;
    margin-left: 20px;
  }

  #login-btn {
    margin-right: 20px;
  }

  #loginModal {
    color: black;

    //.modal.show .modal-dialog {
    //  transform: translate(0,-40%);
    //  top: 40%;
    //  margin: 0 auto;
    //}

    #user-modal-header {
      padding: 6px;
    }

    .modal-footer {
      justify-content: space-between;
    }
  }
}