header {
  width: 100%;
  color: white;
  background: $primary-color;
  padding: 2% 0;

  nav {
    color: black;

    .modal.show .modal-dialog {
      transform: translate(0,-40%);
      top: 40%;
      margin: 0 auto;
    }

    #user-modal-header {
      padding: 6px;
    }

    #login-form {
      display: flex;
      flex-direction: column;

      & > * {
        margin: 10px;
      }

      span {
        input {
          width: 100%;
        }
      }

      #user-info-btn {
        width: 40%;
        margin: 15px auto;
      }
    }

    .modal-footer {
      justify-content: space-between;
    }
  }
}